@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #ffc8c8;
    --branco: #ffbfbf;
    --laranja: #460202;
    --azul-degrade: linear-gradient(97.54deg, #520000 35.49%, #ee7b7b 165.37%);
    --fonte-principal: "Poppins";
    --azul: #520000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: arial (--fonte-principal);
    font-size: 25px;
    font-weight: 400;
}